REACT_APP_ENVIRONMENT="local" // "rinkeby" | "mumbai" | "polygon"
REACT_APP_INFURA_PROJECT_ID="xxx"
REACT_APP_INFURA_API_KEY="xxxx"
REACT_APP_MUMBAI="https://rpc-mumbai.matic.today";
REACT_APP_POLYGON="https://polygon-rpc.com/"
